.site-header {
  background: black;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .logo {
    text-transform: uppercase;
    font-family: "Londrina Solid", cursive;
    letter-spacing: 4px;
    font-weight: 400;

    a:hover {
      color: hotpink;
    }
  }

  .site-header--nav {
    display: flex;
    justify-content: flex-end;

    a {
      padding: 1rem;
      color: white;
      text-decoration: none;
      transition: 0.2s ease;

      &:hover {
        background: rgb(35, 35, 35);
      }

      &.sign-up-button,
      &.sign-out-button {
        background: black;
        border: 1px solid rgb(255, 193, 224);
        color: rgb(255, 193, 224);
        margin-left: .5rem;

        &:hover {
          background: hotpink;
          color: white;
        }
      }
    }
  }
}