.site-header {
  background: black;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .logo {
    text-transform: uppercase;
    font-family: "Londrina Solid", cursive;
    letter-spacing: 4px;
    font-weight: 400;

    a:hover {
      color: hotpink;
    }
  }

  .site-header--nav {
    display: flex;
    justify-content: flex-end;
    a {
      padding: 1rem;
      color: white;
      text-decoration: none;

      &:hover {
        background: rgb(35, 35, 35);
      }
    }
  }
}
