.site-header {
  background: black;
  padding: 1rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .logo {
    text-transform: uppercase;
    font-family: "Londrina Solid", cursive;
    letter-spacing: 4px;
    font-weight: 400;

    a:hover {
      color: hotpink;
    }
  }

  .cart {
    color: white;
    margin-left: 1rem;
    background: rgb(32, 32, 32);
    padding: 1rem;
    cursor: pointer;

    .cart__item_count {
      margin-left: .5rem;
    }

    &:hover {
      background: hotpink;
    }
  }

  .site-header--nav {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;

    a {
      padding: 1rem;
      color: white;
      text-decoration: none;
      transition: 0.2s ease;
      margin-left: .5rem;

      &:hover {
        background: rgb(35, 35, 35);
      }

      &.sign-up-button,
      &.sign-out-button {
        background: black;
        border: 1px solid rgb(255, 193, 224);
        color: rgb(255, 193, 224);
        margin-left: .5rem;

        &:hover {
          background: hotpink;
          color: white;
        }
      }
    }
  }
}